<ion-header>

  <ion-navbar>
    <ion-title>Nos valeurs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>
    
    <ion-item style="background: #689F38">
      <div item-start class="symbole">C</div>
      <div>
        <div>Consécration</div>
        <div>Vivre selon les standars de la sainteté de Dieu</div>
      </div>
    </ion-item>

    <ion-item style="background: #AFB42B">
      <div item-start class="symbole">H</div>
      <div>
        <div>Humilité</div>
        <div>Soumission aux autorités établies, sens du pardon</div>
      </div>
    </ion-item>

    <ion-item style="background: #FF4081">
      <div item-start class="symbole">R</div>
      <div>
        <div>Respect</div>
        <div>Envers les autres quel que soit leur position, leur genre et leur statut</div>
      </div>
    </ion-item>

    <ion-item style="background: #212121">
      <div item-start class="symbole">I</div>
      <div>
        <div>Intégrité</div>
        <div>Pas de double vie, ni de double témoignage</div>
      </div>
    </ion-item>

    <ion-item style="background: #757575">
      <div item-start class="symbole">S</div>
      <div>
        <div>Service</div>
        <div>Engagement, sens du devoir, excellence</div>
      </div>
    </ion-item>

    <ion-item style="background: #009688">
      <div item-start class="symbole">T</div>
      <div>
        <div>Transparence</div>
        <div>Sincérité, franchise, honnêteté</div>
      </div>
    </ion-item>

  </ion-list>
</ion-content>