page-nos-valeurs {
    ion-content {
        ion-list {
            .item {
                padding: 30px;
                font-size: 30px;
                margin: 10px;
                text-align: center;
                background: rgba(3,3,3,0.2);
                color: white;
                .symbole {
                    font-size: 70px;
                }
            }
        }
    }
    
}
