<ion-header>

  <ion-navbar>
    <ion-title>Demandez vos rendez-vous</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>

    <!-- Rendez-vous de soins pastoraux -->
    <ion-item (click)="openPage('rdv_pas')" style="background: #212121">
      <div class="title">Rendez-vous de soins pastoraux</div>
      <div class="detail">Les RDV de soins pastoraux vous permettent d'avoir un entretien avec le pasteur ou un leader-serviteur d'ICC. Vous
        serez contacté cette semaine afin de convenir d'un rendez-vous.</div>
    </ion-item>

    <!-- Recevez la visite d'un leader chez vous -->
    <ion-item (click)="openPage('rdv_lea')" style="background: #212121">
      <div class="title">Recevez la visite d'un leader chez vous</div>
      <div class="detail">Vous avez besoin de prière, d'encouragement ou de toute autre forme de soutien spirituel ou émotionnel, n'hésitez pas
        à solliciter la visite d'un groupe de V.I.E (Visite d'Intercession et d'Encouragement) à votre domicile.</div>
    </ion-item>

    <!-- Accompagnement pro -->
    <ion-item (click)="openPage('rdv_pro')" style="background: #212121">
      <div class="title">Accompagnement professionel</div>
      <div class="detail">
        <ul>Optimiser un CV ou une lettre de motivation</ul>
        <ul>Preparation d'un entretien d'embauche</ul>
        <ul>Conseils en orientation professionnelle</ul>
        <ul>Autre</ul>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
