page-notre-vision {
    ion-content {
        ion-list {
            .item {
                padding: 30px;
                font-size: 30px;
                margin: 10px;
                text-align: center;
                background: rgba(3,3,3,0.2);
                color: white;
                .number {
                    font-size: 70px;
                    background: purple;
                    border-radius:50%;
                    width:80px;
                    height:80px;
                }
                .detail {
                    white-space: normal;
                }
            }
        }
    }
}
