<ion-header>

  <ion-navbar>
    <ion-title>Une vision, 6 objectifs</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list no-lines>

    <ion-item style="background: #689F38">
      <div item-start class="number">1</div>
      <div class="detail">
        Faire de chaque groupe d’impact, une véritable église de maison où les vies sont transformées par la Parole, la Présence
        de Dieu et la communion fraternelle.
      </div>
    </ion-item>

    <ion-item style="background: #689F38">
      <div item-start class="number">2</div>
      <div class="detail">
        Faire de chaque GI, un instrument d’influence au sein de la communauté où il est implanté, qui répand et établit autour de
        lui toutes les valeurs du Royaume de Dieu.
      </div>
    </ion-item>

    <ion-item style="background: #689F38">
      <div item-start class="number">3</div>
      <div class="detail">
        Faire de chaque GI une plateforme qui attirera les incroyants pour en faire des citoyens du royaume des cieux.
      </div>
    </ion-item>

    <ion-item style="background: #689F38">
      <div item-start class="number">4</div>
      <div class="detail">
        Faire de chaque GI un centre de refuge où toutes les personnes désespérées, frustrées, rejetées, oppressées, abusées, trouvent
        l’amour, l’acceptation, le réconfort, l’espérance, l’encouragement et la restauration.
      </div>
    </ion-item>

    <ion-item style="background: #689F38">
      <div item-start class="number">5</div>
      <div class="detail">
        Faire de chaque GI un centre d’adoration où chaque individu est entraîné à devenir un de ces adorateurs en esprit et en vérité
        que le Père recherche encore aujourd’hui.
      </div>
    </ion-item>

    <ion-item style="background: #689F38">
      <div item-start class="number">6</div>
      <div class="detail">
        Pour changer le statut quo et renverser les barrières.
      </div>
    </ion-item>

  </ion-list>

</ion-content>