<ion-header>

  <ion-navbar>
    <ion-title>Nos formations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>

    <ion-item style="background: #212121">
      <div item-start class="symbole">101</div>
      <div>
        <div>Cours 101</div>
        <div class="detail">Les fondements du royaume</div>
      </div>
    </ion-item>

    <ion-item style="background: #212121">
      <div item-start class="symbole">201</div>
      <div>
        <div>Cours 201</div>
        <div class="detail">Les trois piliers majeurs de la maturité spirituelle</div>
      </div>
    </ion-item>

    <ion-item style="background: #212121">
      <div item-start class="symbole">BDR</div>
      <div>
        <div>Bienvenue dans le Royaume</div>
        <div class="detail">Formation pratique et interactive pour dans les personnes qui ont accepté récemment Jesus.</div>
      </div>
    </ion-item>

    <ion-item style="background: #212121">
      <div item-start class="symbole">IEBI</div>
      <div>
        <div>Impact Ecole Biblique Internationale</div>
        <div class="detail">Pour construire des générations de leaders serviteurs qui influencent positivement leur génération.</div>
      </div>
    </ion-item>

  </ion-list>
</ion-content>