<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <ion-grid>
    <ion-row class="flex-container">
      <ion-col *ngFor="let p of pages" col-6>
        <ui-box [page]="p" (tap)="openPage(p)"></ui-box>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
