<ion-header>
  <ion-navbar>
    <ion-title>{{rdvTypeName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form padding-top class="login-form" (ngSubmit)="onSubmit()" [formGroup]="rdv">
    <ion-item>
      <ion-label floating color="primary">Genre</ion-label>
      <ion-select formControlName="genre">
        <ion-option value="homme">Homme</ion-option>
        <ion-option value="femme">Femme</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating color="primary">Nom</ion-label>
      <ion-input formControlName="nom" type="text"></ion-input>
    </ion-item>
    <p *ngIf="rdv.get('nom').touched && ( rdv.get('nom').hasError('required')) " color="danger" padding-left>
      Votre nom est obligatoire
    </p>

    <ion-item>
      <ion-label floating color="primary">Prenom</ion-label>
      <ion-input formControlName="prenom" type="text"></ion-input>
    </ion-item>
    <p *ngIf="rdv.get('prenom').touched && ( rdv.get('prenom').hasError('required') ) " color="danger" padding-left>
      Votre prénom est obligatoire
    </p>

    <ion-item>
      <ion-label floating color="primary">Télephone</ion-label>
      <ion-input formControlName="telephone" type="tel"></ion-input>
    </ion-item>
    <p *ngIf="rdv.get('telephone').touched && rdv.get('telephone').hasError('required')" color="danger" padding-left>
      Votre numero de télephone est obligatoire
    </p>

    <ion-item>
        <ion-label floating color="primary">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <p *ngIf="rdv.get('email').touched && rdv.get('email').hasError('required')" color="danger" padding-left>
        Votre email est obligatoire
      </p>
      <p *ngIf="rdv.get('email').touched && rdv.get('email').hasError('email')" color="danger" padding-left>
          un email valide est obligatoire
        </p>

    <ion-item>
      <ion-label floating color="primary">Sujets</ion-label>
      <ion-select formControlName="sujet">
        <ion-option value="Un soutien spirituel">Un soutien spirituel</ion-option>
        <ion-option value="Un problème de santé">Un problème de santé</ion-option>
        <ion-option value="Un suivi émotionnel">Un suivi émotionnel</ion-option>
        <ion-option value="Un conseil familial (fiançailles, difficultés conjugales, etc.)">Un conseil familial (fiançailles, difficultés conjugales, etc.)</ion-option>
        <ion-option value="Une présentation d'enfant">Une présentation d'enfant</ion-option>
        <ion-option value="Autres">Autres</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating color="primary">Entrer une préçision</ion-label>
      <ion-textarea formControlName="commentaire"></ion-textarea>
    </ion-item>

    <div padding>
      <ion-row padding-top>
        <button ion-button color="primary" block type="submit" [disabled]="rdv.invalid">Envoyer</button>
      </ion-row>
      <ion-row padding-top>
        <button ion-button color="danger" block [disabled]="rdv.invalid">Annuler</button>
      </ion-row>
    </div>
  </form>

</ion-content>
