ui-box {
    div {
        // outline: 2px solid blue;
        padding: 50px;
        font-size: 30px;
        // margin: 10px;
        text-align: center;
        background: rgba(3,3,3,0.2);
        color: white;
        p {
            font-size: 20px;
        }
    }
}
