{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre demande{% endblock %}

{% block body %}

<style type="text/css">
    /* ----- Custom Font Import ----- */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext);

    /* ----- Text Styles ----- */
    table{
        font-family: 'Lato', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }

    @media only screen and (max-width: 700px){
        /* ----- Base styles ----- */
        .full-width-container{
            padding: 0 !important;
        }

        .container{
            width: 100% !important;
        }

        /* ----- Header ----- */
        .header td{
            padding: 30px 15px 30px 15px !important;
        }

        /* ----- Hero subheader ----- */
        .hero-subheader__title{
            padding: 80px 15px 15px 15px !important;
            font-size: 35px !important;
        }

        .hero-subheader__content{
            padding: 0 15px 90px 15px !important;
        }

        /* ----- Title block ----- */
        .title-block{
            padding: 0 15px 0 15px;
        }

        /* ----- Paragraph block ----- */
        .paragraph-block__content{
            padding: 25px 15px 18px 15px !important;
        }

    }
</style>


<span style="color:transparent !important; overflow:hidden !important; display:none !important; line-height:0px !important; height:0 !important; opacity:0 !important; visibility:hidden !important; width:0 !important; mso-hide:all;">This is your preheader text for this email (Read more about email preheaders here - https://goo.gl/e60hyK)</span>

<!-- / Full width container -->
<table class="full-width-container" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#eeeeee" style="width: 100%; height: 100%; padding: 30px 0 30px 0;">
    <tr>
        <td align="center" valign="top">
            <!-- / 700px container -->
            <table class="container" border="0" cellpadding="0" cellspacing="0" width="700" bgcolor="#ffffff" style="width: 700px;">
                <tr>
                    <td align="center" valign="top">
                        <!-- / Header -->
                        <table class="container header" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                            <tr>
                                <td style="padding: 30px 0 30px 0; border-bottom: solid 1px #eeeeee;" align="left">
                                    <span style="font-size: 30px; text-decoration: none; color: #000000;">Impact Centre Chrétien Rouen</span>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Header -->

                        <!-- / Hero subheader -->
                        <table class="container hero-subheader" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                            <tr>
                                <td class="hero-subheader__title" style="font-size: 43px; font-weight: bold; padding: 80px 0 15px 0;" align="left">Demande de rendez-vous.</td>
                            </tr>

                            <tr>
                                <td class="hero-subheader__content" style="font-size: 16px; line-height: 27px; color: #969696; padding: 0 60px 90px 0;" align="left">{{rdv.prenom}} {{rdv.nom}} sollicite une demande rendez-vous.</td>
                            </tr>
                        </table>
                        <!-- /// Hero subheader -->

                        <!-- / Title -->
                        <table class="container title-block" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                                        <tr>
                                            <td style="border-bottom: solid 1px #eeeeee; padding: 35px 0 18px 0; font-size: 26px;" align="left">Sujet</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Title -->

                        <!-- / Paragraph -->
                        <table class="container paragraph-block" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                                        <tr>
                                            <td class="paragraph-block__content" style="padding: 25px 0 18px 0; font-size: 16px; line-height: 27px; color: #969696;" align="left">{{rdv.sujet}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Paragraph -->

                        {% if rdv.commentaire is defined %}

                        <!-- / Title -->
                        <table class="container title-block" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                                        <tr>
                                            <td style="border-bottom: solid 1px #eeeeee; padding: 35px 0 18px 0; font-size: 26px;" align="left">Commentaire</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Title -->

                        <!-- / Paragraph -->
                        <table class="container paragraph-block" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                                        <tr>
                                            <td class="paragraph-block__content" style="padding: 25px 0 18px 0; font-size: 16px; line-height: 27px; color: #969696;" align="left">{{rdv.commentaire}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Paragraph -->

                        {% endif %}

                        <!-- / Title -->
                        <table class="container title-block" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                                        <tr>
                                            <td style="border-bottom: solid 1px #eeeeee; padding: 35px 0 18px 0; font-size: 26px;" align="left">Contact</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Title -->

                        <!-- / Paragraph -->
                        <table class="container paragraph-block" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                                        <tr>
                                            <td class="paragraph-block__content" style="padding: 25px 0 18px 0; font-size: 16px; line-height: 27px; color: #969696;" align="left">
                                                <p>Email: {{rdv.email}}</p>
                                                <p>Telephone: {{rdv.telephone}}</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Paragraph -->

                        <!-- / Divider -->
                        <table class="container" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 25px;" align="center">
                            <tr>
                                <td align="center">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" align="center" style="border-bottom: solid 1px #eeeeee; width: 620px;">
                                        <tr>
                                            <td align="center">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Divider -->



                        <!-- / Footer -->
                        <table class="container" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                            <tr>
                                <td align="center">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" align="center" style="border-top: 1px solid #eeeeee; width: 620px;">
                                        <tr>
                                            <td style="text-align: center; padding: 50px 0 10px 0;">
                                                <a href="#" style="font-size: 28px; text-decoration: none; color: #d5d5d5;">ICC Mail</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="middle">
                                                <table width="60" height="2" border="0" cellpadding="0" cellspacing="0" style="width: 60px; height: 2px;">
                                                    <tr>
                                                        <td align="middle" width="60" height="2" style="background-color: #eeeeee; width: 60px; height: 2px; font-size: 1px;"><img src="{{ asset('images/img16.jpg') }}"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="color: #d5d5d5; text-align: center; font-size: 15px; padding: 10px 0 60px 0; line-height: 22px;">Copyright &copy; 2018 <span style="text-decoration: none; border-bottom: 1px solid #d5d5d5; color: #d5d5d5;">Impact Centre Chrétien Rouen</span>. <br />All rights reserved.</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /// Footer -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{% endblock %}