page-nos-programmes {
    .segment-button {
        font-size: 30px !important;
        color: white !important;
    }
    .prog-hebdo {
        background: #212121 !important;
        border-bottom-left-radius: 30px;
    }
    .prog-priere {
        background: #1976D2 !important;
        border-bottom-right-radius: 30px;
    }

    ion-list-header {
        font-size: 30px !important;
    }

}
