<ion-header>

  <ion-navbar>
    <ion-title>Nos programmes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="programme">
      <ion-segment-button class="prog-hebdo" value="hebdomadaire">
        Programmes hebdomadaire
      </ion-segment-button>
      <ion-segment-button class="prog-priere" value="priere">
        Programmes de prières
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="programme">
    <ion-list *ngSwitchCase="'hebdomadaire'">
      <ion-list>
        <ion-list-header>Dimanche de 10h00 à 12h30 </ion-list-header>
        <ion-item>Culte d’adoration, de célébration et d’édification</ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>Samedi de 10h00 à 14h00</ion-list-header>
        <ion-item>Formations : Bienvenue dans le Royaume (BDR), Parcours de Croissance de la Nouvelle Création (PCNC)</ion-item>
        <ion-item>Formations : Cours 101 – Les fondements du Royaume</ion-item>
        <ion-item>Formations : Cours 201 – Les 3 piliers majeurs de la maturité spirituelle</ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>Vendredi de 19h30 à 21h00</ion-list-header>
        <ion-item>Atmosphère de gloire – Culte d’adoration, de puissance et de miracles</ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>Mercredi de 19h00 à 20h30</ion-list-header>
        <ion-item>Groupe d’impact</ion-item>
      </ion-list>

    </ion-list>

    <ion-list *ngSwitchCase="'priere'">
      <ion-grid>
        <ion-row>
          <ion-col col-6>

            <ion-card>
              <ion-card-header>
                Atmosphère de gloire
              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>

          </ion-col>

          <ion-col col-6>
            <ion-card>
              <ion-card-header>
                Jeune, prière et supplication
              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col col-6>
            <ion-card>
              <ion-card-header>
                La nuit des adorateurs
              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col col-6>
            <ion-card>
              <ion-card-header>
                Les 24 heures de prière
              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>