page-groupes-impact {
  ion-content {
      ion-list {
          .item {
              padding: 30px;
              font-size: 30px;
              margin: 10px;
              // text-align: center;
              background: rgba(3,3,3,0.2);
              color: white;
              .detail {
                  white-space: normal;
                  padding-top: 30px;
                  color: wheat;
              }
              .title {
                  font-size: 60px;
              }
          }
      }
  }
}
