<ion-header>

  <ion-navbar>
    <ion-title>Les groupes d'impact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>

    <ion-item style="background: #448AFF">
      <div class="title">GI Saint Sever</div>
      <div class="detail">
        <ul>26 rue saint-julien</ul>
        <ul>Contact: +33 7 69 98 75 15</ul>
      </div>
    </ion-item>

    <ion-item style="background: #448AFF">
      <div class="title">GI Mont Saint Aignan</div>
      <div class="detail">
        <ul>Résidence la Pléiade A2, Hall CD, Appart 22</ul>
        <ul>Contact: +33 6 25 17 63 61 </ul>
      </div>
    </ion-item>

    <ion-item style="background: #448AFF">
      <div class="title">GI Technopole</div>
      <div class="detail">
        <ul>Résidence Eugénie Colon. Appart 21</ul>
        <ul>Contact: +33 7 85 78 70 01</ul>
      </div>
    </ion-item>

    <ion-item style="background: #448AFF">
      <div class="title">GI Sotteville</div>
      <div class="detail">
        <ul>513 rue de Paris 76300 Sotteville-Lès-Rouen</ul>
        <ul>Bus 41 - arrêt Cité Thuillier</ul>
        <ul>Contact: +33 6 22 62 03 76</ul>
        <ul>Hôtes: M et Mme Suzan</ul>
        <ul>Pilote: Samira TARNAGDA</ul>
      </div>
    </ion-item>

    <ion-item style="background: #448AFF">
      <div class="title">GI Rouen - Grand-Mare</div>
      <div class="detail">
        <ul>2 rue Louise Michel 76000 Rouen</ul>
        <ul>Bus T2 - arrêt Sainte-Claire</ul>
        <ul>Contact: 07 85 78 70 01</ul>
        <ul>Hôtes: MME Brigitte MACKITHA</ul>
        <ul>Pilote: Hermione EMATI</ul>
      </div>
    </ion-item>

    <ion-item style="background: #448AFF">
      <div class="title">GI Petit Quevilly</div>
      <div class="detail">
        <ul>9 allée Henri Matisse 76140 Petit Quevilly | Interphone 119</ul>
        <ul>Métro Georges Braque - arrêt François Truffaut</ul>
        <ul>Contact: +33 6 59 66 54 95</ul>
        <ul>Hôtes: Ana KOUANGU</ul>
        <ul>Pilote: Jeanne-Marie FOUTOU</ul>
      </div>
    </ion-item>

    <ion-item style="background: #448AFF">
      <div class="title">GI Maromme</div>
      <div class="detail">
        <ul>6 rue de la Clerette 76150 Maromme | Appartement 42 4ème étage</ul>
        <ul>Bus F4 ou 8 - arrêt  Claire joie</ul>
        <ul>Contact: +33 7 55 32 67 02</ul>
        <ul>Hôtes: Nadège VANIE</ul>
        <ul>Pilote: Gael MBOUROU</ul>
      </div>
    </ion-item>

  </ion-list>

</ion-content>
