<ion-header>

  <ion-navbar>
    <ion-title>Foire aux questions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      1) Je désire me faire baptiser, que faire ?
    </ion-card-header>
    <ion-card-content>
      Vous devez en faire la demande au près de l'accueil ou d'un responsable. Noter que our passer dans les eaux de Baptême, Nous vous recommandons d'avoir valider la formation 101 sur les fondements du Royaume.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      2) Je veux grandir en Christ ?
    </ion-card-header>
    <ion-card-content>
      Grandir en Christ est un processus qui nécessite certaines étapes et une implication de votre part. Impacte Centre Chrétien Rouen met à votre disposition des programmes de formations ainsi que des programmes de prières et de partages. Pour plus d'information rendez vous dans les rubriques Formations, Groupe d'impactes et Nos programes.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      3) Qu’est ce qu’un S.T.A.R / un A.I.D.E ?
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      4) Comment devenir un S.T.A.R / un A.I.D.E ?
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      5) Qu’est ce que la carte gold ?
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      6) Comment contribuer ?
    </ion-card-header>
    <ion-card-content>
      A Impact Centre Chrétien, il y'a plusieurs moyen de contribuer :
      Par vos Talents (Mettez vos connaissances et talents aux service de Seigneur), votre Temps (Disposer votre temps pour faire progresser l'oeuvre) et vos Trésors (Dîmes et offrandes).
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      7) Comment puis-je apporter les dîmes et les offrandes ?
    </ion-card-header>
    <ion-card-content>
      Vous pouvez apporter vos dimes et vos offrandes à tous moments lors d'un rassemblement tel que le culte du Dimanche ou durant un temps d'atmosphère de gloire.
      Les dîmes et les offrandes peuvent être données par :
      Chèque à l'ordre d'Impact centre chrétien
      Espèce
    </ion-card-content>
  </ion-card>

</ion-content>
