page-faq {
    ion-card {
        padding: 30px;
        margin: 10px;
        color: white;
        ion-card-header {
            font-size: 30px !important;
        }
        ion-card-content {
            background: #212121;
            font-size: 30px !important;
            border-radius: 10px;
        }
    }
}
